body {
  background-color: black;
  font: ;
}

@font-face {
  font-family: "Executive-Regular";
  src: local("Executive-Regular"),
    url("./fonts/Executive-Regular.otf") format("truetype");
  font-weight: normal;
}